<div id="<%= dom_id project %>">
  <%= link_to project, class: "group" do %>
    <div class=" p-5 hover:shadow-lg hover:border hover:border-gray-200 rounded-lg">
      <div class="aspect-h-2 aspect-w-2 overflow-hidden rounded-lg bg-gray-200 border border-gray-100">
        <% if project.cover_image.attached? %>
          <%= image_tag project.cover_image, class: "h-full w-full  object-cover object-center group-hover:opacity-75" %>
        <% else %>
          <%= image_tag 'default_image.jpg', class: "h-full w-full object-cover object-center group-hover:opacity-75" %>
        <% end %>
      </div>
      <div class="mt-4 h-16 text-sm font-bold text-gray-700">
        <h3><%= project.title %></h3>
      </div>
      <hr class="border-2 border-gray-300">
      <div class="mt-4 flex justify-between items-center font-bold text-sm">
        <span>Goal</span>
        <span><%= coma_format(project.amount) %></span>
      </div>
      <div>
        <%= render "projects/partials/progress", project: project, place: "index" %>
        <span class="font-bold text-gray-700">Rs. <%= coma_format(project.current_amount) %> collected</span>
      </div>
    </div>
  <% end %>
</div>
