<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <section class="bg-gray-100 rounded-lg shadow-lg ">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 ">
        Sahayog    
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 ">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
            Login
          </h1>
          <form class="space-y-4 md:space-y-6" action="#">
            <div>
              <%= f.label :email,class:"block mb-2 text-sm font-medium text-gray-900 " %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 ", placeholder: "example@example.com", required: true %>
            </div>
            <div>
              <%= f.label :password, class:"block mb-2 text-sm font-medium text-gray-900 " %>
              <%= f.password_field :password, autocomplete: "new-password",class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5", required: true, placeholder: "••••••••" %>
            </div>
            <div class="flex items-start">
              <% if devise_mapping.rememberable? %>
                <div class="flex items-center h-5">
                  <%= f.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 " %>
                </div>
                <div class="ml-3 text-sm">
                  <%= f.label :remember_me, class: "font-light text-gray-600" %>
                </div>
              <% end %>
            </div>
            <%= f.submit "Login", class: "w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
            <p class="text-sm font-light text-gray-500 ">
              Don't have an account? 
              <%= link_to 'Signup here', new_user_registration_path, class: "font-medium text-blue-600 hover:underline dark:text-blue-500" %>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
<% end %>
